

@font-face{
    font-family:'Customfont';
    src:url(YoungSerif-Regular.ttf)
    
}
@font-face{
    font-family:'outfit';
    src:url(Outfit-VariableFont_wght.ttf);
}

body{
    background-color: rgb(239, 221, 196);
    align-items:center;
    justify-content:center;
    
    

    
}
h3{
    color:brown;
   
}
.container{
    background-color: aliceblue;
    align-items:center;
    width:50%;
    margin:auto;
    border-radius:5px;
    padding:20px;
    font-family:outfit;
    font-size: 10px;
   
    
}
.container h2{
    font-family: Customfont;
    font-size:20px;
}

.container h,h3{
    font-family:Customfont;
} 
.container img{
    max-width:100%;
    max-height:100%;
    margin:auto;
    border-radius:5px;

    
}
h{
    color:brown;
}
.container .preparation{
    background-color:hsl(0, 33%, 96%);
}
hr{
    border:1px solid hsla(0, 7%, 92%, 0.534)
}


p1{
    color:brown;
    padding:100px;
}
